body {
  color: #555;
  background-color: #efefef;
  border-color: #555;
}
#input_div {
  width: 100%;
}
#input{
  border-bottom: 1px solid #555;
}
#options_button {
  display: block;
  margin: 0px auto;
  height: 50px;
  color: #fff;
}
#options {
  display: none;
}
.mdl-textfield.is-disabled.is-disabled .mdl-textfield__label, .mdl-textfield__label, fieldset[disabled] .mdl-textfield .mdl-textfield__label {
  color: inherit;
}
.mdl-layout__header{
  padding-bottom: 10px;
  padding-top: 10px;
}