dialog[open] {
  padding: 2rem;

  border: 0.0625rem solid @light;
  border-radius: 0.25rem;

  background-color: @background;
  color: @light;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  p {
    display: block;
    margin-bottom: 1rem;
  }

  div {
    text-align: center;
  }

  button:first-child {
    margin-right: 0.5rem;
  }
}
