.attendee-lists {
  width: 100%;
  margin-top: 15px;
  font-size: 1em;
  height: auto;
  background-color: transparent;

  tr {
    &:nth-child(even) {
      background-color: lighten(@secondary-color, 1);
    }
  }

  th {
    font-weight: bold;
    cursor: pointer;
    color: @text-color;
    width: 100%;
    line-height: 2.4;
    height: 3em;
    font-size: 1em;

    &:hover {
      color: @primary-color;
    }

    &:last-child {
      padding: 0;
    }
  }

  td {
    width: 100%;
    height: auto;
    font-size: 1em;

    .cell-non-numeric {
      text-align: right;
    }
  }

  tbody tr:hover {
    background-color: @secondary-color-hover;
  }
}

.event-button-div > a{
  margin: 0.5% 1% 0.5% 0;
}
