.options button {
  min-width: 128px;

  float: right;

  color: #FFF;
  background-color: @background;

  border: 1px solid #FFF;
  border-radius: 4px;

  padding: 16px;
  margin-bottom: 16px;

  cursor: pointer;

  &:hover {
    color: @accent;
    border-color: @accent;
  }
}

.options-content {
  clear: right;
}
