.attendee-lists, th, td {
  width: 100%;
  background-color: @blue-dark;
  border: none;
}

.attendee-lists {
  td {
    border: none;
  }
  th {
    border-bottom: 1px solid;
    color: @white;
    font-weight: normal;
  }
}
.event-button-div {
  & > a {
    margin-left: 1%;
    &:first-child{
      margin-left: 0;
    }
  }
}
