.registration-input {
  transform: scale(2) translateX(25%);
  margin: 3em auto;
  width: 50%;
}

.label-ok {
  background-color: #090;
}

.label-progress {
  background-color: #f80;
}

.label-danger {
  background-color: #900;
}

.label {
  transition: background-color .5s;
  margin: 0;
  width: 100%;
  border-radius: 3px;
}

.progress-bar {
  visibility: hidden;
  width: 100%;
  opacity: .5;
  border-radius: 3px;
  overflow: hidden;
}

.label-progress > .progress-bar {
  visibility: visible;
}

.mdl-textfield__label{
  color: @text-color;
}

.mdl-textfield__input{
  border-bottom-color: @text-color;
}
