@import 'reset';
@import 'variables';
@import 'components/components';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.625;

  background-color: @background;
  color: #fff;
}

main {
  max-width: 1024px;
  padding: 32px;
  margin: 32px auto;
}

h1 {
  font-size: 200%;
  margin-bottom: 16px;
}

h2 {
  font-size: 150%;
  margin-bottom: 8px;
}

button {
  min-width: 128px;

  color: #FFF;
  background-color: @background;

  border: 1px solid #FFF;
  border-radius: 4px;

  padding: 16px;

  font-family: inherit;

  cursor: pointer;

  &:hover {
    color: @accent;
    border-color: @accent;
  }

  &:focus {
    outline: none;
  }
}
