@import 'reset';
@import 'variables';
@import 'components/components';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.625;

  background-color: @background;
  color: #fff;
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  margin-bottom: 16px;
}
