table, th {
  width: 100%;
}

.mdl-card{
  width:100%;
  padding: 15px;
}

body{
  background-color: #CFD8DC;
}

.registration-input {
  transform: scale(2) translateX(25%);
  margin: 2em auto;
  width: 50%;
}

.align-right {
  text-align: right;
}

.label-ok {
  background-color: #090;
}

.label-progress {
  background-color: #f80;
}

.label-danger {
  background-color: #900;
}

.label {
  transition: background-color .2s;
  color: #fff;
}

.progress-bar {
  visibility: hidden;
  width: 100%;
  opacity: .5;
}

.label-progress > .progress-bar {
  visibility: visible;
}
