@white: #fff;
@primary-color: #3F51B5;
@primary-light: #E8EAF6;
@secondary-color: #eee;
@secondary-color-hover: darken(@secondary-color, 10%);

@text-color: #000;

@table-header-color: #fff;
@table-content-color: #eee;
@table-header-border-color: rgba(255, 255, 255, .2);
