@primary-color: #FAA21B;
@secondary-color: #0060A3;
@secondary-color-dark: rgb(0, 25, 50);
@secondary-color-dark-hover: darken(@secondary-color-dark, 2);

@text-color: #fff;

@table-header-color: #fff;
@table-content-color: #eee;
@table-header-border-color: rgba(255, 255, 255, .2);
